<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Collective</Name>
    <Version>1.0.0</Version>
    <Title>Collective Installer</Title>
    <Publisher>Collective</Publisher>
    <StartMenuDir>Collective</StartMenuDir>
    <TargetDir>@ApplicationsDir@/Collective</TargetDir>
    <InstallerWindowIcon>installer-icon</InstallerWindowIcon>
    <InstallerApplicationIcon>installer-icon</InstallerApplicationIcon>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>